In [1]:
import numpy as np
import pandas as pd
import xarray as xr

import matplotlib as mp
import matplotlib.pyplot as plt
import matplotlib.colors as colors


from datetime import datetime,timezone

In [2]:
ds = xr.open_dataset('threshold_0.2/second_harmonic_fft_withTC.nc')

In [3]:
pa = ds.PA

In [4]:
df = pa.to_dataframe().reset_index().dropna()
df = df.groupby(['lat','lon','time']).agg({'PA': ['mean']}).droplevel(axis=1, level=0).reset_index()

In [5]:
df

           lat       lon                time      mean
0       5.8214  125.2046 2013-05-01 00:00:00  0.280654
1       5.8214  125.2046 2013-05-01 01:00:00 -0.078795
2       5.8214  125.2046 2013-05-01 02:00:00 -0.453481
3       5.8214  125.2046 2013-05-01 03:00:00 -0.768493
4       5.8214  125.2046 2013-05-01 04:00:00 -0.960697
...        ...       ...                 ...       ...
15115  20.4563  121.9695 2013-05-01 19:00:00  0.618799
15116  20.4563  121.9695 2013-05-01 20:00:00  0.587238
15117  20.4563  121.9695 2013-05-01 21:00:00  0.642642
15118  20.4563  121.9695 2013-05-01 22:00:00  0.802412
15119  20.4563  121.9695 2013-05-01 23:00:00  1.055396

[15120 rows x 4 columns]

In [6]:
df.pivot(index=['lon','lat'], columns='time', values='mean').reset_index().to_csv('pa_withTC.csv')

In [7]:
df.pivot(index=['lon','lat'], columns='time', values='mean').reset_index()

time,lon,lat,2013-05-01 00:00:00,2013-05-01 01:00:00,2013-05-01 02:00:00,2013-05-01 03:00:00,2013-05-01 04:00:00,2013-05-01 05:00:00,2013-05-01 06:00:00,2013-05-01 07:00:00,...,2013-05-01 14:00:00,2013-05-01 15:00:00,2013-05-01 16:00:00,2013-05-01 17:00:00,2013-05-01 18:00:00,2013-05-01 19:00:00,2013-05-01 20:00:00,2013-05-01 21:00:00,2013-05-01 22:00:00,2013-05-01 23:00:00
0,117.0623,7.985905,0.986189,0.717090,0.609451,0.677335,0.882944,1.148083,1.376685,1.482261,...,-0.100015,0.164153,0.601019,1.116627,1.597842,1.940960,2.077772,1.992228,1.723330,1.353585
1,117.4356,8.550700,0.744234,0.764111,0.726347,0.641659,0.541533,0.469189,0.466878,0.563008,...,1.930030,1.757314,1.493131,1.191878,0.911409,0.699087,0.580988,0.557017,0.603092,0.679678
2,117.5013,8.876000,0.715072,0.827152,0.899773,0.903071,0.832314,0.709429,0.576924,0.485848,...,1.862511,1.904339,1.803878,1.585078,1.296984,1.001248,0.756666,0.604820,0.560565,0.609813
3,117.6346,8.677431,0.634142,0.655992,0.633649,0.570168,0.489116,0.427818,0.426286,0.514896,...,2.028064,1.898922,1.661657,1.364239,1.062773,0.808071,0.634086,0.551142,0.545649,0.586182
4,117.6480,9.019500,0.848090,0.822111,0.781950,0.733511,0.689465,0.665871,0.677585,0.733697,...,1.449648,1.404308,1.317647,1.208628,1.097930,1.002983,0.934139,0.892920,0.872767,0.861995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,126.4136,8.036845,1.031029,0.726498,0.478469,0.327211,0.289992,0.358035,0.500153,0.671982,...,0.908625,0.990220,1.140670,1.338410,1.543414,1.707033,1.784605,1.747477,1.591222,1.337798
626,126.4482,7.049400,0.894602,0.683219,0.563367,0.523145,0.531867,0.551099,0.547428,0.503332,...,0.937379,1.312234,1.682257,1.984394,2.165950,2.196782,2.076114,1.832234,1.515193,1.184434
627,126.4543,7.790300,1.160360,0.708228,0.383351,0.229553,0.244418,0.382912,0.572246,0.733812,...,0.324811,0.607706,1.033494,1.529136,1.997504,2.340977,2.485691,2.400104,2.102943,1.658482
628,126.5649,7.327000,1.028285,0.955209,0.889184,0.823550,0.753540,0.679080,0.606092,0.545864,...,1.182496,1.340619,1.459128,1.525103,1.534896,1.494151,1.415733,1.316145,1.211412,1.113517
629,126.5698,7.609900,1.363968,1.110345,0.887080,0.723694,0.631642,0.603452,0.616912,0.643053,...,0.590569,0.750734,0.980390,1.250141,1.517471,1.736112,1.866709,1.886058,1.792519,1.606213

In [8]:
pf = ds.PF
df = pf.to_dataframe().reset_index().dropna()
df = df.groupby(['lat','lon','time']).agg({'PF': ['mean']}).droplevel(axis=1, level=0).reset_index()
df.pivot(index=['lon','lat'], columns='time', values='mean').reset_index().to_csv('pf_withTC.csv')

pi = ds.PI
df = pi.to_dataframe().reset_index().dropna()
df = df.groupby(['lat','lon','time']).agg({'PI': ['mean']}).droplevel(axis=1, level=0).reset_index()
df.pivot(index=['lon','lat'], columns='time', values='mean').reset_index().to_csv('pi_withTC.csv')